---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: monospace;
$post-font-family: sans-serif;
$code-font-family: monospace, Inconsolata, Monaco, Consolas;
$base-font-size:   14px;
$base-font-weight: 400;
$small-font-size:  0.875rem;
$base-line-height: 1.5;

$spacing-unit:     2rem;

$text-color:       #FFFFFF;
$background-color: #1b1b1b;
$link-color:       #fa3eb2;
$code-color:       #ffffff;
$code-background:  #d1d1d1;
$code-foreground:  #000;
$pre-background:   #d1d1d1;
$hover-color:      #f0b0bc;

$grey-color:       #aaa;
$grey-color-light: lighten($grey-color, 25%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$on-palm:    600px;
$on-:        800px;


@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import
"base",
"layout",
"syntax-highlighting" ;
