

/**
 * Reset some basic elements
 */
blockquote,
body,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
ol,
p,
pre,
ul {
    margin: 0;
    padding: 0;
}

/**
 * Basic styling
 */
body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $text-color;
    background-color: $background-color;
}
/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
%vertical-rhythm,
blockquote,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
p,
pre,
table,
ul {
    margin-bottom: $spacing-unit / 2;
}
/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}
/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}
/**
 * Lists
 */
ol,
ul {
    margin-left: $spacing-unit;
}

li {
     > ol,
    > ul {
        margin-bottom: 0;
    }
}
/**
 * Headings
 */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: $base-font-weight;
}
/**
 * Links
 */
a {
    color: $link-color;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
        color: $hover-color;
    }
}
/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    padding-left: $spacing-unit / 2;
    border-left: 2px solid $grey-color-light;
    font-style: italic;
    font-size: $small-font-size;

    > :last-child {
        margin-bottom: 0;
    }
}
/**
 * Code formatting
 */
code,
pre {
    background-color: #fcfcfc;
}

code {
    padding: 1px 5px;
    font-family: $code-font-family;
    color: #f14e32;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;
    border-left: 2px solid $grey-color-light;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
        tab-size: 4;
        color: inherit;
    }
}
/**
 * Table
 */
table {
    width: 100%;
    max-width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    table-layout: fixed;
}

td,
th {
    padding: 0.5rem;
    line-height: inherit;
}

th {
    text-align: left;
    vertical-align: bottom;
    border-bottom: 2px solid $grey-color-light;
}

td {
    vertical-align: top;
    border-bottom: 1px solid $grey-color-light;
}
/**
 * Horizontal rule
 */
hr {
    border: none;
    border-top: 5px dashed rgb(173, 173, 173);
    margin: $spacing-unit auto;
}
/**
 * Clearfix
 */
%clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

/* Code */
code,
pre {
  font-family: Menlo, Monaco, "Courier New", monospace;
}
code {
  padding: .25em .5em;
  font-size: 85%;
  color: $code-color;
  background-color: $code-background;
  border-radius: 3px;
}
pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: .2rem;
  line-height: 1.4;
  white-space: pre;
/*  white-space: pre-wrap; */
  word-break: break-all;
  word-wrap: break-word;
  background-color: $pre-background;
  overflow: auto;
  color: $code-foreground;
}
pre code {
  padding: 0;
  /*  font-size: 100%; */
  font-size: .8rem;
  color: inherit;
  background-color: transparent;
}

/* Pygments via Jekyll */
.highlight {
  margin-bottom: 1rem;
  border-radius: 4px;
}

.highlight pre {
  margin-bottom: 0;
}

#index-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;    /* 100% */
    height: 100vh;   /* 100% */
    z-index: -1;
}

#writings-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;    /* 100% */
    height: 100vh;   /* 100% */
    z-index: -1;
}

.game-canvas {
    margin: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

button {
    background-color: var(--theme-color-text);
    color: var(--theme-color-background);
    border: none;
}

button:focus {outline:0;}

button::-moz-focus-inner {
    border: 0;
}
